/* 
        We'll start with our universal or more generic styles, which will apply to all screen width (unless it's overwritten by a media query).
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 3rem;
}

header {
    background-color: #212121;
    border-bottom: 2px solid teal;
}

a {
    color: #faf7ff;
    text-decoration: none;
}

.flex {
    padding: 1rem;
}

nav ul {
    margin: auto;
    text-align: center;
    padding-left: 0;
}

nav ul li {
    border-bottom: 1px solid teal;
    transition: all 0.5s ease;
}

nav ul li:last-of-type {
    border-bottom: none;
}

nav ul li:hover {
    background-color: teal;
}

/* 
        Here, we're using a media query to check to see if our screen is wide enough to accommodate our list of links.
*/

@media screen and (min-width: 890px) {
    .flex {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        border: none;
        padding: 0 1.5rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1400px) {
    .flex {
        margin: auto;
        width: 1400px;
    }
}